<html>
    <head>
        <style>
             p {
               font-size: 24px!important;
             }
             nav {
               height: 100px !important;
               padding: 20px;
             }
             body {
                display: flex;
                min-height: 100vh;
                flex-direction: column;
              }
              main {
                flex: 1 0 auto;
              }
              .material-icons {
                font-family: 'Material Icons';
                font-weight: normal;
                font-style: normal;
                font-size: 96px !important;  /* Preferred icon size */
                display: inline-block;
                line-height: 1;
                text-transform: none;
                letter-spacing: normal;
                word-wrap: normal;
                white-space: nowrap;
                direction: ltr;
              
                /* Support for all WebKit browsers. */
                -webkit-font-smoothing: antialiased;
                /* Support for Safari and Chrome. */
                text-rendering: optimizeLegibility;
              
                /* Support for Firefox. */
                -moz-osx-font-smoothing: grayscale;
              
                /* Support for IE. */
                font-feature-settings: 'liga';
              }
              body{
                  background: url("http://www.kinyu-z.net/data/wallpapers/61/916704.jpg") ;
                  background-size: 1800px 800px;

              }
              
              main{
                padding-left: 60px;
              }
               
        </style>

        <title>SIKE</title>
        <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
    </head>

    <body>
    <header>
        <nav class = " blue-grey lighten-1">
          <div class="nav-wrapper">
                 <a href="/" class="brand-logo">The Magic Number<i class="material-icons">looks_4</i></a>
               <ul class="right hide-on-med-and-down">
         <li><a href="/howtoplay">How it works</a></li>
              </ul>
             </div>
        </nav>
    </header>
    <main>
        <p><%= @number %> is <%= @numbword %> </p>
        <p><%= @numbword %> is <%= @sic %> </p>
        <p><%= @sic %> is <%= @op %> </p>
        <p><%= @op %> is <%= @result %> </p>
            <%case @result
              when 1%>
                <p>1 is 3</p>
                <p>3 is 5</p>
                <p>5 is 4</p>
                <p>4 is the magic number.</p>
            <%when 2%> 
                <p>2 is 3</p>
                <p>3 is 5</p>
                <p>5 is 4</p>
                <p>4 is the magic number.</p>
            <%when 3%>
                <p>3 is 5</p>
                <p>5 is 4</p>
                <p>4 is the magic number.</p>
            <%when 4%>
                <p>4 is 4</p>
                 <p>four is the magic number.</p>
            <%when 5%>
                <p>5 is 4</p>
                 <p>four is the magic number.</p>
            <%when 6%>
                <p>6 is 3</p>
                <p>3 is 5</p>
                <p>5 is 4</p>
                <p>4 is the magic number.</p>
            <%when 7%>
                <p>7 is 5</p>
                <p>5 is 4</p>
                <p>4 is the magic number.</p>
            <%when 8%>
                <p>8 is 5</p>
                <p>5 is 4</p>
                <p>4 is the magic number.</p>
            <%when 9%>
                <p>9 is 4</p>
                 <p>four is the magic number.</p>
            <%when 10%>
                <p>10 is 3</p>
                <p>3 is 5</p>
                <p>5 is 4</p>
                <p>4 is the magic number.</p>
            <%end%>
    </main>
    <footer class="page-footer grey">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">    </h5>
                <p class="grey-text text-lighten-4">    </p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">    </h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!"></a>     </li>
                  <li><a class="grey-text text-lighten-3" href="#!"></a>     </li>
                  <li><a class="grey-text text-lighten-3" href="#!"></a>     </li>
                  <li><a class="grey-text text-lighten-3" href="#!"></a>     </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2020 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">     </a>
            </div>
          </div>
        </footer>
    </body>
</html>
